<div class="container">
	<div class="row">
		<div class="col-md-2">
			Search: <input ng-model="filter.title">
			<div class="brand-block col-md-10">
				<span class="row">Brand:</span>
				<label ng-repeat="brand in brands">
					<input type="checkbox" checklist-model="filter.brand" checklist-value="brand"> {{brand}}
				</label>
			</div>
			<div class="price col-md-10">
				<span>Price</span>
				<input ng-model="filter.priceFrom" type="text" placeholder="От">
				<input ng-model="filter.priceTo" type="text" placeholder="До">
			</div>
			<button class="btn btn-success">Поиск</button>
		</div>

		<div class="col-md-10">
			<ul class="goods">
				<li ng-repeat="goods in data | goodsFilter:filter">
					<a href="#">{{goods.title}}</a>
					<span>{{goods.price}}</span>
					<span>{{goods.brand}}</span>
					<span>{{goods.resolution}}</span>
				</li>
			</ul>

		</div>
	</div>
</div>
</div>